/* You can add global styles to this file, and also import other style files */
nav a:visited, a:link {
  color: #607D8B !important;
}
nav a:hover {
  color: #039be5 !important;
  background-color: #CFD8DC !important;
}
nav a.active {
  color: #039be5 !important;
}
